Azure-Logic-app-consumption/Presentation.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "api": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "required": [
                            "state",
                            "facecheck"
                        ],
                        "additionalProperties": false,
                        "properties": {
                            "state": {
                                "type": "string"
                            },
                            "facecheck": {
                                "type": "boolean"
                            }
                        }
                    }
                },
                "operationOptions": "EnableSchemaValidation"
            }
        },
        "actions": {
            "Call_Entra_verified_ID": {
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://verifiedid.did.msidentity.com/v1.0/verifiableCredentials/createPresentationRequest",
                    "method": "POST",
                    "body": "@variables('jsonPayload')",
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "identity": "/subscriptions/11f9b57f-c1f8-4ce0-9f0b-d02c945fd153/resourceGroups/Verified-ID/providers/Microsoft.ManagedIdentity/userAssignedIdentities/Verified-ID-logic-app",
                        "audience": "3db474b9-6a0c-4840-96ac-1fceb342124f"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_verified_ID_JSON_response": {
                "runAfter": {
                    "Call_Entra_verified_ID": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Call_Entra_verified_ID')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "requestId": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            },
                            "expiry": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "Initialize_JSON_payload_variable": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "jsonPayload",
                            "type": "object"
                        }
                    ]
                }
            },
            "Condition": {
                "actions": {
                    "Compose_request_payload_with_face-check": {
                        "type": "Compose",
                        "inputs": {
                            "authority": "@{parameters('DidAuthority')}",
                            "includeQRCode": false,
                            "registration": {
                                "clientName": "Woodgrove helpdesk",
                                "purpose": "Prove your identity"
                            },
                            "callback": {
                                "url": "@{parameters('CallbackUrl')}",
                                "state": "@{triggerBody()?['state']}",
                                "headers": {
                                    "api-key": "@{parameters('ApiKey')}"
                                }
                            },
                            "includeReceipt": false,
                            "requestedCredentials": [
                                {
                                    "type": "@{parameters('CredentialType')}",
                                    "acceptedIssuers": "@parameters('AcceptedIssuers')",
                                    "configuration": {
                                        "validation": {
                                            "allowRevoked": false,
                                            "validateLinkedDomain": true,
                                            "faceCheck": {
                                                "sourcePhotoClaimName": "photo",
                                                "matchConfidenceThreshold": 70
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "Set_JSON_payload_variable_with_face-check": {
                        "runAfter": {
                            "Compose_request_payload_with_face-check": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                            "name": "jsonPayload",
                            "value": "@outputs('Compose_request_payload_with_face-check')"
                        }
                    }
                },
                "runAfter": {
                    "Initialize_JSON_payload_variable": [
                        "Succeeded"
                    ]
                },
                "else": {
                    "actions": {
                        "Compose_request_payload": {
                            "type": "Compose",
                            "inputs": {
                                "authority": "@{parameters('DidAuthority')}",
                                "includeQRCode": false,
                                "registration": {
                                    "clientName": "Woodgrove helpdesk",
                                    "purpose": "Prove your identity"
                                },
                                "callback": {
                                    "url": "@{parameters('CallbackUrl')}",
                                    "state": "@{triggerBody()?['state']}",
                                    "headers": {
                                        "api-key": "@{parameters('ApiKey')}"
                                    }
                                },
                                "includeReceipt": false,
                                "requestedCredentials": [
                                    {
                                        "type": "@{parameters('CredentialType')}",
                                        "acceptedIssuers": "@parameters('AcceptedIssuers')",
                                        "configuration": {
                                            "validation": {
                                                "allowRevoked": false,
                                                "validateLinkedDomain": true
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        "Set_JSON_payload_variable": {
                            "runAfter": {
                                "Compose_request_payload": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "jsonPayload",
                                "value": "@outputs('Compose_request_payload')"
                            }
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['facecheck']",
                                true
                            ]
                        }
                    ]
                },
                "type": "If"
            },
            "Compose_state_JSON": {
                "runAfter": {
                    "Parse_verified_ID_JSON_response": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": {
                    "status": "request_created",
                    "message": "Waiting for the user to open the notification.",
                    "url": "@{body('Parse_verified_ID_JSON_response')?['url']}",
                    "version": "1.1"
                }
            },
            "Update_state_table": {
                "runAfter": {
                    "Compose_state_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "put",
                    "body": "@outputs('Compose_state_JSON')",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/tables/@{encodeURIComponent('VerifiedIdState')}/entities(PartitionKey='@{encodeURIComponent('key')}',RowKey='@{encodeURIComponent(triggerBody()?['state'])}')"
                }
            },
            "Response": {
                "runAfter": {
                    "Update_state_table": [
                        "Succeeded"
                    ]
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@outputs('Compose_state_JSON')"
                }
            }
        },
        "outputs": {},
        "parameters": {
            "StorageAccountName": {
                "defaultValue": "",
                "type": "String"
            },
            "ApiKey": {
                "defaultValue": "",
                "type": "String"
            },
            "DidAuthority": {
                "defaultValue": "",
                "type": "String"
            },
            "CallbackUrl": {
                "defaultValue": "",
                "type": "String"
            },
            "CredentialType": {
                "defaultValue": "",
                "type": "String"
            },
            "AcceptedIssuers": {
                "defaultValue": [
                    ""
                ],
                "type": "Array"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {}
}