Azure-Logic-app-consumption/Training-issue.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "web-api": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "required": [
                            "displayName",
                            "state",
                            "pin"
                        ],
                        "properties": {
                            "state": {
                                "type": "string"
                            },
                            "displayName": {
                                "type": "string"
                            },
                            "pin": {
                                "type": "string"
                            },
                            "photo": {
                                "type": "string"
                            }
                        }
                    }
                },
                "operationOptions": "EnableSchemaValidation"
            }
        },
        "actions": {
            "Call_Entra_verified_ID": {
                "type": "Http",
                "inputs": {
                    "uri": "https://verifiedid.did.msidentity.com/v1.0/verifiableCredentials/createIssuanceRequest",
                    "method": "POST",
                    "body": {
                        "authority": "@{parameters('DidAuthority')}",
                        "includeQRCode": false,
                        "registration": {
                            "clientName": "Woodgrove schools"
                        },
                        "callback": {
                            "url": "@{parameters('CallbackUrl')}",
                            "state": "@{triggerBody()?['state']}",
                            "headers": {
                                "api-key": "@{parameters('ApiKey')}"
                            }
                        },
                        "includeReceipt": false,
                        "type": "PersonalDataHandlingTraining",
                        "manifest": "@{parameters('Manifest')}",
                        "claims": {
                            "displayName": "@{triggerBody()?['displayName']}",
                            "photo": "@{triggerBody()?['photo']}"
                        }
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "identity": "",
                        "audience": "3db474b9-6a0c-4840-96ac-1fceb342124f"
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@outputs('Compose_state_JSON')"
                },
                "runAfter": {
                    "Update_state_table": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_verified_ID_JSON_response": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Call_Entra_verified_ID')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "requestId": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            },
                            "expiry": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Call_Entra_verified_ID": [
                        "Succeeded"
                    ]
                }
            },
            "Compose_state_JSON": {
                "type": "Compose",
                "inputs": {
                    "status": "request_created",
                    "url": "@{body('Parse_verified_ID_JSON_response')?['url']}",
                    "demo": "Training"
                },
                "runAfter": {
                    "Parse_verified_ID_JSON_response": [
                        "Succeeded"
                    ]
                }
            },
            "Update_state_table": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "put",
                    "body": "@outputs('Compose_state_JSON')",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/tables/@{encodeURIComponent('VerifiedIdState')}/entities(PartitionKey='@{encodeURIComponent('key')}',RowKey='@{encodeURIComponent(triggerBody()?['state'])}')"
                },
                "runAfter": {
                    "Compose_state_JSON": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "ApiKey": {
                "defaultValue": "",
                "type": "String"
            },
            "CallbackUrl": {
                "defaultValue": "",
                "type": "String"
            },
            "DidAuthority": {
                "defaultValue": "",
                "type": "String"
            },
            "Manifest": {
                "defaultValue": "",
                "type": "String"
            },
            "StorageAccountName": {
                "defaultValue": "myiddemovid",
                "type": "String"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuretables": {
                    "id": "",
                    "connectionId": "",
                    "connectionName": "azuretables",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity",
                            "identity": ""
                        }
                    }
                }
            }
        }
    }
}