Azure-Logic-app-consumption/VisitorPass-present.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "api": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "required": [
                            "state"
                        ],
                        "additionalProperties": false,
                        "properties": {
                            "state": {
                                "type": "string"
                            }
                        }
                    }
                },
                "operationOptions": "EnableSchemaValidation"
            }
        },
        "actions": {
            "Call_Entra_verified_ID": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                    "uri": "https://verifiedid.did.msidentity.com/v1.0/verifiableCredentials/createPresentationRequest",
                    "method": "POST",
                    "body": {
                        "authority": "@{parameters('DidAuthority')}",
                        "includeQRCode": false,
                        "registration": {
                            "clientName": "Contoso Visitor Center",
                            "purpose": "Prove your identity"
                        },
                        "callback": {
                            "url": "@{parameters('CallbackUrl')}",
                            "state": "@{triggerBody()?['state']}",
                            "headers": {
                                "api-key": "@{parameters('ApiKey')}"
                            }
                        },
                        "includeReceipt": false,
                        "requestedCredentials": [
                            {
                                "type": "@{parameters('CredentialType')}",
                                "acceptedIssuers": "@parameters('AcceptedIssuers')",
                                "configuration": {
                                    "validation": {
                                        "allowRevoked": false,
                                        "validateLinkedDomain": true
                                    }
                                }
                            }
                        ]
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "identity": "/subscriptions/11f9b57f-c1f8-4ce0-9f0b-d02c945fd153/resourceGroups/Verified-ID/providers/Microsoft.ManagedIdentity/userAssignedIdentities/Verified-ID-logic-app",
                        "audience": "3db474b9-6a0c-4840-96ac-1fceb342124f"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_verified_ID_JSON_response": {
                "runAfter": {
                    "Call_Entra_verified_ID": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Call_Entra_verified_ID')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "requestId": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            },
                            "expiry": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "Compose_state_JSON": {
                "runAfter": {
                    "Parse_verified_ID_JSON_response": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": {
                    "status": "request_created",
                    "message": "Waiting for the user to open the notification.",
                    "url": "@{body('Parse_verified_ID_JSON_response')?['url']}",
                    "version": "1.1"
                }
            },
            "Update_state_table": {
                "runAfter": {
                    "Compose_state_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "put",
                    "body": "@outputs('Compose_state_JSON')",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/tables/@{encodeURIComponent('VerifiedIdState')}/entities(PartitionKey='@{encodeURIComponent('key')}',RowKey='@{encodeURIComponent(triggerBody()?['state'])}')"
                }
            },
            "Response": {
                "runAfter": {
                    "Update_state_table": [
                        "Succeeded"
                    ]
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@outputs('Compose_state_JSON')"
                }
            }
        },
        "outputs": {},
        "parameters": {
            "StorageAccountName": {
                "defaultValue": "",
                "type": "String"
            },
            "ApiKey": {
                "defaultValue": "",
                "type": "String"
            },
            "DidAuthority": {
                "defaultValue": "",
                "type": "String"
            },
            "CallbackUrl": {
                "defaultValue": "",
                "type": "String"
            },
            "CredentialType": {
                "defaultValue": "",
                "type": "String"
            },
            "AcceptedIssuers": {
                "defaultValue": [
                    ""
                ],
                "type": "Array"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuretables": {}
            }
        }
    }
}