Azure-Logic-app/Issuance.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Call_Entra_verified_ID": {
                "type": "Http",
                "inputs": {
                    "uri": "https://verifiedid.did.msidentity.com/v1.0/verifiableCredentials/createIssuanceRequest",
                    "method": "POST",
                    "body": {
                        "authority": "@{parameters('DidAuthority')}",
                        "includeQRCode": false,
                        "registration": {
                            "clientName": "My sample app"
                        },
                        "callback": {
                            "url": "@{parameters('CallbackUrl')}",
                            "state": "@{triggerBody()?['state']}",
                            "headers": {
                                "api-key": "@{parameters('ApiKey')}"
                            }
                        },
                        "includeReceipt": false,
                        "type": "VerifiedCredentialExpert",
                        "manifest": "@{parameters('Manifest')}",
                        "pin": {
                            "value": "@{triggerBody()?['pin']}",
                            "length": 4
                        },
                        "claims": {
                            "displayName": "@{triggerBody()?['displayName']}",
                            "photo": "@{triggerBody()?['photo']}"
                        }
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "3db474b9-6a0c-4840-96ac-1fceb342124f/.default"
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_verified_ID_JSON_response": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Call_Entra_verified_ID')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "requestId": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            },
                            "expiry": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Call_Entra_verified_ID": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Compose_state_JSON": {
                "type": "Compose",
                "inputs": {
                    "status": "request_created",
                    "url": "@{body('Parse_verified_ID_JSON_response')?['url']}",
                    "version": "1.1"
                },
                "runAfter": {
                    "Parse_verified_ID_JSON_response": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@outputs('Compose_state_JSON')"
                },
                "runAfter": {
                    "Update_state_table": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Update_state_table": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azuretables"
                        }
                    },
                    "method": "put",
                    "body": "@outputs('Compose_state_JSON')",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/tables/@{encodeURIComponent('VerifiedIdState')}/entities(PartitionKey='@{encodeURIComponent('key')}',RowKey='@{encodeURIComponent(triggerBody()?['state'])}')"
                },
                "runAfter": {
                    "Compose_state_JSON": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "api": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "required": [
                            "displayName",
                            "state",
                            "pin"
                        ],
                        "properties": {
                            "state": {
                                "type": "string"
                            },
                            "displayName": {
                                "type": "string"
                            },
                            "pin": {
                                "type": "integer"
                            },
                            "photo": {
                                "type": "string"
                            }
                        }
                    }
                },
                "operationOptions": "EnableSchemaValidation"
            }
        }
    },
    "kind": "Stateful"
}